
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body{
	background-color: skyblue;
}
.main_wrapper{
	width: 1000px;
	margin: auto;
}
.header_wrapper{
	width: 1000px;
	height: 100px;
	background-color: white;
}
#logo{
	width: 100px;
	height: 100px;
	float: left;
}
#banner{
	float: left;
	height: 100px;
	width: 900px;
}
.menubar{
	width: 1000px;
	height: 50px;
	background-color: gray;
	color: white;
}
#menu{
	padding: 0;
	margin: 0;
	line-height: 35px;
	float: left;
}
#menu li{
	list-style-type: none;
	display:inline-block;
	padding:5px;
}
#menu a{
text-decoration: none;
color: white;
margin: 5px;
font-size: 16px;
font-family: cursive;

}
#menu a:hover{
	color: orange;
	font-weight: bolder;
	text-decoration: underline;
}
#form{
	padding-right: 8px;
	line-height: 50px;
	float: right;
}
.content_wrapper{
	width: 1000px;
	margin: auto;
	background-color: pink;
}
.sidebar{
	width: 250px;
	height: 800px;
	background-color: black;
	color: white;
	float: left;
}
#sidebar_title{
	background-color: white;
	color: black;
	font-family: arial;
	font-size: 22px;
	padding: 10px;
	text-align: center;
}

#cats li{
	list-style: none;
	display: block;
	text-align: center;
	margin: 5px;
}
#cats a{
	color: white;
	text-decoration: none;
	margin: 5px;
	padding: 8px;
	font-size: 18px;
	font-family: Comic Sans Ms;
}
#cats a:hover{
	color: orange;
	font-weight: bolder;
	text-decoration: underline;
}
.content_area{
	width: 750px;
	height: auto;
}
.footer{
	clear: both;
	background-color: gray;
}